@import url('http://getbootstrap.com/dist/css/bootstrap.css');

html, body{
	height: 100%;
	background-color: black;
	margin: 0;
}


/* Background gradients */
#header{
	background: radial-gradient(100vw at 47px 47px, rgba(0, 100, 125, 0.7) 0%, rgba(0, 150, 188, 0.6) 10%, rgba(0, 201, 255, 0.55) 30%, rgba(0, 255, 255, 0.6) 50%, rgba(69, 245, 214, 0.7) 95%);
}
#footer{
	background: radial-gradient(100vw at 47px 47px, rgba(0, 0, 0, 0.7) 0%, rgba(25, 25, 25, 0.6) 45%, rgba(0, 0, 0, 0.7) 95%);
}

/* Allows #main to use space between header and footer */
/*.wrapper {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
}
#main {
    flex: 1;
}*/

.wrapper{
	height: 100vh;
}

.container{
	position: relative;
    margin-left: auto;
    margin-right: auto;
}

#header{
	position: fixed;
	top: 5px;
	border-radius: 30px;
}

/* div with Google Maps */
#mapContainer {
	position: fixed;
}

#map {
	width: 100%;
	height: 100%;
}

#footer{
	margin: 0;
	padding: 0;
	bottom: -17px;
	color: #BBB;
	font-style: italic;
	border-radius: 30px;
}

/* Dropdown active on hover */
/*.dropdown:hover .dropdown-menu {
    display: block;
 }*/

/* Intro Animations */
.intro{
	opacity: 1;
}

/* Tablets */
@media (min-width: 1200px){
	.container{
		width: 1140px;
    	max-width: 100%;
    	padding-right: 150px;
    	padding-left: 150px;
	}
}

/* Laptops */
@media (max-width: 1200px){
	.container{
		width: 960px;
    	max-width: 100%;
    	padding-right: 150px;
    	padding-left: 150px;
	}
}

/* Tablets */
@media (max-width: 992px){
	.container{
		width: 720px;
    	max-width: 100%;
    	padding-right: 150px;
    	padding-left: 150px;
	}
}

/* Mobile */
@media (max-width: 600px){
	.container{
		width: 540px;
    	padding-right: 150px;
    	padding-left: 150px;
	}
}